p{
    font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
}
button{
    padding: 20px;
    margin: 50px;
}
img{
    width: 150px;
}
#content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#mig-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}